<ion-content>
  <div class="content">
    <h3>Recuperar contraseña</h3>
    <h5>Introduce tu email y te enviaremos un correo para recuperar tu contraseña.</h5>
    <img src="../../../assets/img/restore_password_logo.png">
  
    <p *ngIf="formError" class="form-error-message">{{emailErrorMessage}}</p>
    <form>
      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
    </form>
  
    <ion-button (click)="sendRecoveryEmail()">Enviar correo</ion-button>
  </div>
</ion-content>
