.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h3{
    margin-top: 10%;
    color: #024873;
    text-align: center;
}

h5{
    text-align: center;
    margin: 2% 8% 4% 8%;
}

img{
    margin-top: 10%;
    width: 150px;
}

form{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #024873;
    padding: 2% 5%;
    margin: 8% 5%;
}

form button{
    margin: 0 auto;
}

.form-error-message{
    font-size: 0.8rem;
    margin: 5% 8% 1% 8%;
    color: red;
    text-align:  center;
}