<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Puntos de medida</ion-title> 
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <ion-icon class="page-logo" name="water-outline"></ion-icon>
    <h4><ion-icon name="business-outline"></ion-icon> {{companie.name}}</h4>
    <h4>Puntos de medida</h4>
  </div>

  <div class="content">
    <!-- while loading -->
    <div *ngIf="loadingData" class="loading-data">
      <p>Cargando</p>
      <ion-spinner name="dots" color="success"></ion-spinner>
    </div>

    <!-- if data is empty -->
    <div *ngIf="meassurePoints.length == 0 && !loadingData" class="empty-view">
      <h2>No hay puntos de medida.</h2>
      <p>Para añadir una medición debes de tener, al menos, un punto de medida.</p>
    </div>

    <!-- show data -->
    <div *ngIf="meassurePoints.length > 0" class="meassure-points-container">
      <div class="meassure-point" *ngFor="let meassurePoint of meassurePoints">
        <div class="card-content">
          <p><strong><ion-icon name="water-outline"></ion-icon> Nombre:</strong> {{meassurePoint.name}}</p>
          <p><strong><ion-icon name="chatbubbles-outline"></ion-icon> Descripción:</strong> {{meassurePoint.description}}</p>
          <p><strong><ion-icon name="today-outline"></ion-icon> Ultima medida:</strong> {{meassurePoint.lastMeassure}}</p>
          <div class="buttons">
            <button class="btn-view-meassures"><ion-icon name="eye-outline"></ion-icon> Medidas</button>
            <button (click)="navigateToEditMeassurePoint(meassurePoint)" class="btn-edit-meassure-point"><ion-icon name="create-outline"></ion-icon> Editar</button>
            <button (click)="alertConfirmDelete(meassurePoint)" class="btn-delete-meassure-point"><ion-icon name="trash-outline"></ion-icon> Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loadingData" class="add-meassure-point" (click)="navigateToCreateMeassurePoint()" >
    <h3>Crear punto de medida</h3>
  </div>

</ion-content>
