ion-toolbar{
    --background: #093652;
    color: white;
}

h1{
    text-align: center;
    margin: 0;
    padding: 5%;
    color: white;
    background-color: #093652;
}

.content{
    padding: 5%;
    text-align: justify;
}