<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Regulación</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Regulación</h1>

  <div class="content">
    <p>La finalidad de esta aplicación es poder hacer de manera digital el registro de las medidas realizadas para la prevención y el control de la legionelosis según lo expuesto en el Real Decreto 865/2003 de 4 de Julio, en el cual se establecen
      las medidas higiénicas y sanitarias obligatorias para esta cuestión.
    </p>
    <a href="https://www.boe.es/buscar/act.php?id=BOE-A-2003-14408">Puedes encontrar el texto completo aquí</a>
  </div>
</ion-content>
