h1{
  display: block;
  text-align: center;
}

ion-content{
  --background: #024873;
}

.content{
  min-height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: #024873;
  background-image: url("../../../assets/img/login-background.png");
  background-size: cover;
  color: white;
}

.logo{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  margin-bottom: 10%;
  text-align: center;
}

ion-input{
  margin-bottom: 5%;
  border-bottom: 1px solid white;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 18% auto 0 auto;
  animation: slide-top-form 1.5s;
}

.login-button{
  opacity: 0;
  height: 65px;
  width: 65px;
  align-self: center;
  border-radius: 10%;
  margin: 10% 0 0 0;
  padding: 2%;
  background-color: #29c67b;
  color: white;
  animation: slide-top-button 1s 1s;
  animation-fill-mode: forwards;
  transform: translateY(300%);
}

.login-button img{
    transform: rotate(-45deg);
}

.login-error-message{
  color: #BF8034;
  font-size: 0.8rem;
}

.bottom-text{
  margin-top: auto;
}

.go-to-register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: #29c67b;
  text-align: center;
  color: white;
  animation: slide-in-register 1s;
}

ion-spinner{
  width: 82% !important;
  height: 82% !important;
}


//keyframes animations

@keyframes slide-top-button{
  from{
    opacity: 0;
    transform: translateY(400%) rotate(0deg);
  }
  to{
    opacity: 1;
    transform: translateY(0%) rotate(45deg);
  }
}

@keyframes slide-top-form{
  from{
    opacity: 0;
    transform: translateY(500%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-register{
  from{
    transform: translateX(300%);
  }
  to{
    transform: translateX(0%);
  }
}






.scroll-content {
  padding-bottom: 0 !important;
}