<ion-content>
  <div class="content">
    <!-- logo -->
    <div class="logo"></div>


    <form class="login-form">
      <!-- user email -->
      <p class="login-error-message">{{emailErrorMessage}}</p>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>

      <!-- user password -->
      <p class="login-error-message">{{passwordErrorMessage}}</p>
      <ion-label>Contraseña</ion-label>
      <ion-input></ion-input>
    </form>

    <div (click)="login()" class="login-button"><img src="../../../assets/img/loginArrow.png"></div>
  </div>
  <div (click)="navigateToRegister()" class="go-to-register">REGISTRATE</div>
</ion-content>
