<ion-content>
  <div class="content">

    <div class="logo"></div>

    <form class="register-form">
      <!-- user email -->
      <p class="register-error-message">{{emailErrorMessage}}</p>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>

      <!-- user password -->
      <p class="register-error-message">{{passwordErrorMessage}}</p>
      <ion-label>Contraseña</ion-label>
      <ion-input></ion-input>

      <ion-label>Confirmar contraseña</ion-label>
      <ion-input></ion-input>
    </form>

    <div @slideTopButton (click)="navigateToHome()" class="register-button"><img src="../../../assets/img/loginArrow.png"></div>
  </div>
  <div (click)="navigateToLogin()" class="go-to-login">LOG IN</div>
</ion-content>
