<ion-content class="main-container">
  <div class="content">

    <div class="logo"></div>

    <form class="register-form">
      <!-- user email -->
      <p *ngIf="registerError" class="register-error-message">{{emailErrorMessage}}</p>
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required="true"></ion-input>

      <!-- user password -->
      <p *ngIf="registerError" class="register-error-message">{{passwordErrorMessage}}</p>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>

      <p *ngIf="registerError" class="register-error-message">{{confirmPasswordErrorMessage}}</p>
      <ion-label>Confirmar contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
    </form>

    <!-- submit button -->
    <button (click)="register()" class="register-button">
      <img *ngIf="!loading" src="../../../assets/img/loginArrow.png">
      <ion-spinner *ngIf="loading" name="crescent" color="light"></ion-spinner>
    </button>
  </div>

  <div (click)="navigateToLogin()" class="go-to-login">INICIAR SESIÓN</div>
</ion-content>
 