h1{
  display: block;
  text-align: center;
}

ion-content{
  --background: #29c67b;
}

.content{
  height: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background-color: #29c67b;
  background-image: url("../../../assets/img/register-background.png");
  background-size: cover;
  color: #f2f2f2;
}

.logo{
  height: 85px;
  width: 85px;
  border-radius: 50%;
  background-color: #b0f4d3;
  margin-bottom: 5%;
}

ion-input{
  margin-bottom: 5%;
  border-bottom: 1px solid #f2f2f2;
}

.register-form{
  width: 80%;
  margin: 0 auto;
  animation: slide-top-form 1.5s;
}

.register-button{
  opacity: 0;
  height: 65px;
  width: 65px;
  align-self: center;
  border-radius: 10%;
  margin-top: 5%;
  padding: 2%;
  background-color: #024873;
  color: white;
  animation: slide-top-button 1s 1s;
  animation-fill-mode: forwards;
  transform: translateY(300%);
}

.register-button img{
    transform: rotate(-45deg);
}

.register-error-message{
  margin: 0;
  color: #f9f95a;
  font-size: 0.8rem;
}

.go-to-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  background-color: #024873;
  text-align: center;
  color: white;
  animation: slide-in-login 1s;
}

ion-spinner{
  width: 82% !important;
  height: 82% !important;
}

@media only screen and (max-height: 300px) {
  .logo{
    display: none;
  }

  .go-to-login{
    display: none;
  }

  .content{
    padding-top: 2%;
  }
}

//keyframes animations

@keyframes slide-top-button{
  from{
    opacity: 0;
    transform: translateY(400%) rotate(0deg);
  }
  to{
    opacity: 1;
    transform: translateY(0%) rotate(45deg);
  }
}

@keyframes slide-top-form{
  from{
    opacity: 0;
    transform: translateY(500%);
  }
  to{
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slide-in-login{
  from{
    transform: translateX(-300%);
  }
  to{
    transform: translateX(0%);
  }
}
