<ion-content>
  <div class="content">

    <div class="logo"></div>

    <form class="register-form">
      <!-- user email -->
      <p class="register-error-message">*El email introducido no es válido</p>
      <ion-label>Email</ion-label>
      <ion-input></ion-input>

      <!-- user password -->
      <p class="register-error-message">*La contraseña no es válida</p>
      <ion-label>Contraseña</ion-label>
      <ion-input></ion-input>

      <p class="register-error-message">*La contraseña no es válida</p>
      <ion-label>Confirmar contraseña</ion-label>
      <ion-input></ion-input>
    </form>

    <div class="register-button"><img src="../../../assets/img/loginArrow.png"></div>
  </div>
  <div class="go-to-login">LOG IN</div>
</ion-content>
