ion-navbar{
    height: 50%;
}

ion-toolbar{
    --background: #024873;
    color: white;
    padding: 5% 5%;
    text-align: center;
}

ion-content{
    --background: #024873;
}

.content{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 100px 0px 0px 0px;
}

//loading screen
.loading-data{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

//empty view
.empty-view{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.empty-view h2{
    margin-top: 25%;
    text-align: center;
}

.empty-view p{
    padding: 0 5%;
}