<ion-header class="ion-no-border">
  <ion-toolbar>
    <br>
    <h2>Nuevo registro</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <!-- while loading -->
    <div *ngIf="loadingData" class="loading-data">
      <p>Cargando</p>
      <ion-spinner name="dots" color="success"></ion-spinner>
    </div>

    <!-- if data is empty -->
    <div *ngIf="companies.length == 0 && !loadingData" class="empty-view">
      <h2>No hay empresas.</h2>
      <p>Para hacer un registro antes debes de crear una empresa.</p>
    </div>

    <!-- show data -->
    <div *ngIf="companies.length > 0" class="companies-container">
      <ion-card *ngFor="let companie of companies" (click)="navigateToCreateMeassure(companie)">
        <div class="card-header"></div>
        <div class="card-content">
          <h3>{{companie.name}}</h3>
        </div>
      </ion-card>
    </div>
  </div>
  <div *ngIf="!loadingData" class="add-companie" (click)="navigateToCreateCompanie()">
    <h3>Nueva empresa</h3>
  </div>
</ion-content>