<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>En construcción</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <img src="../../../assets/img/logo.png">
    <h2>En construcción</h2>
    <h4>Está función estará disponible para la siguiente versión. Disculpe las molestias</h4>
  </div>
</ion-content>