ion-navbar{
    height: 50%;
}

ion-toolbar{
    --background: #024873;
    color: white;
    padding: 5% 5%;
    text-align: center;
}

ion-content{
    --background: #024873;
}

.content{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 100px 0px 0px 0px;
}

.options-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 15% 5%;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #024873; 
    border-radius: 20px;
}

.option-icon{
    width: 40%;
}