<ion-header class="ion-no-border">
  <ion-toolbar>
    <br>
    <h2>Bienvenido</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div class="options-grid">
      
      <div (click)="navigateToSelectCompanie()"  class="option">
          <img class="option-icon" src="../../../assets/img/mas.png">
          <h4>Nuevo registro</h4>
      </div>

      <div class="option">
        <img class="option-icon" src="../../../assets/img/trabajo.png">
        <h4>Mi información</h4>
      </div>

      <div class="option">
        <img class="option-icon" src="../../../assets/img/graficos.png">
        <h4>Estadísticas</h4>
      </div>

      <div class="option">
        <img class="option-icon" src="../../../assets/img/pregunta.png">
        <h4>Ayuda</h4>
      </div>

    </div>
  </div>
</ion-content>
