ion-navbar{
    height: 50%;
}

ion-toolbar{
    --background: #093652;
    color: white;
}

ion-content{
    --background: #093652;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #093652;
    color: white;
}

.logo{
    height: 85px;
    width: 85px;
    border-radius: 50%;
  }

.content{
    display: flex;
    height: 70%;
    width: 100%;
    background-color: white;
}

.options-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    align-items: center;
    font-size: 0.8rem;
}

.option

ion-icon{
    font-size: 2rem;
}