<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <div class="logo">
      <img src="../../../assets/img/logo.png">
    </div>
    <h4>Registro de control de legionella</h4>
  </div>
  <div class="content">
    <div class="options-grid">
      
      <!-- first line -->
      <div (click)="navigateToSelectCompanie()"  class="option">
        <ion-icon name="add-outline"></ion-icon>
          <p>Nueva medida</p>
      </div>

      <div class="option">
        <ion-icon name="business-outline"></ion-icon>
        <p>Empresas</p>
      </div>

      <div class="option">
        <ion-icon name="person-outline"></ion-icon>
        <p>Perfil</p>
      </div>

      <!-- second line -->
      <div class="option">
        <ion-icon name="today-outline"></ion-icon>
        <p>Calendario</p>
      </div>

      <div class="option">
        <ion-icon name="bar-chart-outline"></ion-icon>
        <p>Estadísticas</p>
      </div>

      <div class="option">
        <ion-icon name="send-outline"></ion-icon>
        <p>Enviar datos</p>
      </div>

      <!-- third line -->
      <div class="option">
        <ion-icon name="build-outline"></ion-icon>
        <p>Ajustes</p>
      </div>

      <div class="option">
        <ion-icon name="information-outline"></ion-icon>
        <p>Información</p>
      </div>

      <div class="option">
        <ion-icon name="help-outline"></ion-icon>
        <p>Ayuda</p>
      </div>

    </div>
  </div>
</ion-content>
