
ion-toolbar{
    --background: #29c67b;
    color: white;
}

ion-content{
    --background: #29c67b;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #29c67b;
    color: white;
    min-height: 22%;
    padding: 5%;
}

.header .page-logo{
    font-size: 2.5rem;
    margin-bottom: 2%;
}

.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 68%;
    max-height: 68%;
    background-color: white;
    overflow: scroll;
    animation: slide-in-formulary 1s;
}

.content h5{
    display: inline-block;
    width: 100%;
    padding: 5%;
    text-align: justify;
    border-bottom: 1px solid #29c67b;
}

form{
    width: 100%;
    padding: 2% 10%;
}

ion-input{
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10%;
}

.create-button{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10%;
    background-color: #29c67b;
}

.error-message{
    font-size: 0.8rem;
    color: red;
}

.restore-data{
    color: #093652;
    font-size: 1.2rem;
    padding: 0 0 10% 5%;
    margin: 0;
    text-decoration: underline;
}

//keyframes

@keyframes slide-in-formulary{
    from{
      opacity: 0;
      transform: translateX(400%);
    }
    to{
      opacity: 1;
      transform: translateX(0%);
    }
}